.people-bio-box{:id => employee}

  .employee-portrait-box
    %img{:class => 'employee-full-portrait', :title => data.people[employee].name, :src => image_path('portraits/' + data.people[employee].photo) }

  %section
    .employee-details
      - unless headline.empty?
        %h2= headline

      %h3= data.people[employee].name

      - unless data.people[employee].bio.empty?
        %p= data.people[employee].bio

      .inner-section
        .skills
          - unless data.people[employee].skills.empty?
            %i.fa.fa-tags
            %span= data.people[employee].skills.join(', ')

        .clients
          -unless data.people[employee].clients.empty? 
            %i.fa.fa-tags
            %span= data.people[employee].clients.join(', ')

        - work_experience = (Date.today.year.to_i - data.people[employee].year.to_i).to_s + ' år med arbeidserfaring'

        .experience
          - unless data.people[employee].year.empty?
            %i.fa.fa-briefcase
            = work_experience

      .inner-section
        %ul.horizontal-list
          %li.contact-details
            %a{:href => 'mailto:' + data.people[employee].email, :title => data.people[employee].email }= data.people[employee].email
          %li.contact-details= data.people[employee].phone

      .inner-section
        %ul.horizontal-list
          - unless data.people[employee].github.empty?
            %li
              %a{:href => data.people[employee].twitter, :class => 'icon' }
                %i.fa.fa-twitter
          - unless data.people[employee].linkedin.empty?
            %li
              %a{:href => data.people[employee].linkedin,  :class => 'icon' }
                %i.fa.fa-linkedin-square
          - unless data.people[employee].github.empty?
            %li 
              %a{:href => data.people[employee].github,  :class => 'icon' }
                %i.fa.fa-github