---
title: Karriere
---

#main
  .header.career-hero
    %section
      %h1#hero.text-centered Leter du etter nye utfordringer?

  .white
    %section
      .ten-columns-centered
        %h2.text-centered Dette er oss
        %h3.text-centered Familien for fagentusiaster

        %p.ingress.text-centered 
          En arbeidsplass og en lekeplass

        %p.text-centered Iterate ansetter systemutviklere, prosjektledere, forretningsutviklere og designere. Vi ønsker å skape verdi, utvikle vår kompetanse og ha det gøy.

        %p#anchor.text-centered.has-padding-top
          =link_to 'Bli en av oss', '#apply', :class => 'text-centered button'

  %section
    %h2.text-centered Noen av våre kunder
    = partial 'partials/customer-logos'

  .freedom.has-background-image
    %section
      .two-thirds-layout
        %h2 Fra tannhjul til rock star
        %h3 Frihet til å forme din egen stilling

        %p Iterate har ingen store eksterne eiere. #{data.people.length} mennesker, minst mulig byråkrati, ansvarlig frihet og flat struktur.
  
  .white.has-large-padding-top-bottom
    %section
      .row
        .two-thirds-layout-offset
          %h2 Dette sier vi om oss selv
      .row
        = partial 'partials/customer-quote-single', :locals => { :customer => 'ruud' } 

  .speaking.has-background-image
    %section
      .two-thirds-layout  
        %h2 Hvilke ferdigheter vil du bli best på?
        %h3 Vi hjelper deg å utvikle dine skjulte talenter
        %p 67% av våre kolleger har holdt foredrag på konferanser. Har du lyst til det? Da vi gir deg all hjelp du trenger til å få det til!
        %p Vi er mer opptatt av hvem du kan bli enn hvem du er i dag.       

  .white
    %section
      .spans-twelve-columns
        %h2.text-centered Dette venter deg
        %h3.text-centered.has-padding-bottom Hva skjer når du blir en av oss?
      
      .row
        .two-columns
          %h4.has-padding-top 
            = image_tag image_path('icons/chalk-board.png'), :class => 'image-icon'
            Mye god læring
          %p Fra funksjonell programmering til retorikk - entreprenørskap, metodikk og teknologi: Faggrupper, konferanser og interne samlinger.
        .two-columns
          %h4.has-padding-top
            = image_tag image_path('icons/play.png'), :class => 'image-icon'
            Sosialt
          %p I 2015 hadde vi 87 sosiale eventer: Fester, ølbrygging, rebusløp, frokostmøter, squashturnering, fredagspils, hyttetur og mye mer
      .row
        .two-columns
          %h4.has-padding-top
            = image_tag image_path('icons/match.png'), :class => 'image-icon'
            Camp Iterate
          %p Om måten vi tenker på og arbeider på i Iterate. Camp for nyansatte, som også blir kjent med hverandre i inspirerende omgivelser.
        .two-columns
          %h4.has-padding-top 
            = image_tag image_path('icons/star.png'), :class => 'image-icon'
            Engasjerende oppdrag
          %p Vi jobber hardt for å skaffe deg oppdrag som du trives i. Det er viktig at du også har det gøy når du er ute hos kunden!

  %section{:id => 'apply'}
    %h2.text-centered Søk da vel
    %h3.text-centered Interessert i å jobbe hos oss?
    %p.text-centered For deg som aldri blir lei av å utvikle nye ferdigheter, dele kunnskap, og hjelpe andre.

    = button_to 'Ta testen', 'https://docs.google.com/a/iterate.no/forms/d/1VBa3JTZokLqxuyQ1MdyEDCB7AzIOgDif_yG0Dj7afNA/viewform', :class => 'text-centered has-large-margin-top', :method => :get

    %p.smallscript.has-padding-top.text-centered Det tar vanligvis 10 minutter for folk for å fylle det ut.

  .mafia.has-background-image
    %section
      .spans-twelve-columns
        %h2.is-hidden Iterate familien
        %h3.text-centered I iterate er vi alle en stor familie
