---
title: Mennesker
---

#main
  .header.mennesker-hero
    %section
      %h1#hero.text-centered Vi er Iterate

  .white
    %section
      .row
        .two-thirds-layout-offset
          %h2 Teamet som gjør forskjellen
      .row
        = partial 'partials/customer-quote-single', :locals => { :customer => 'syversen' } 
  %ul.gridder
  
    - employees = data.people.sort.to_h # moves data into a hash and sorts alphabetically by object key
    - employees.each_with_index do | e, idx|
      - employee = e[1] # moves all object data into an array
      - ident = e[0]

      %li{:class => "gridder-list", :id => ident, :data => { :griddercontent => "#gcontent-#{idx}"}}
        %img{:class => 'mugshot', :title => employee.name, :src => image_path('mugshots/' + employee.mugshot)}
        %div{:id => "gcontent-#{idx}", :class => 'gridder-content', :style => 'display:none'}
          %div 
            %img{:class => 'mugshot', :title => employee.name, :src => image_path('mugshots/' + employee.mugshot)}
            %ul.card-content.text-centered
              %li.contact-details
                %a{:href => 'mailto:' + employee.email}= employee.email
              %li.contact-details= employee.phone

              %ul.horizontal-list
                - if employee.twitter.length > 0
                  %li
                    %a{:href => employee.twitter, :class => 'icon'}
                      %i.fa.fa-twitter
                - if employee.linkedin.length > 0
                  %li
                    %a{:href => employee.linkedin, :class => 'icon'}
                      %i.fa.fa-linkedin-square
                - if employee.github.length > 0
                  %li
                    %a{:href => employee.github, :class => 'icon'}
                      %i.fa.fa-github
          %div
            - if employee.bio.length > 3
              %p= employee.bio
            - else
              - 2.times do
                %p= lorem.sentences 2
            - unless employee.skills.empty?
              .skills
                %i.fa.fa-tags
                %span= employee.skills.join(', ')
            - unless employee.clients.empty?
              .clients
                %i.fa.fa-tags
                %span= employee.clients.join(', ')

            - work_experience = (Date.today.year.to_i - employee.year.to_i).to_s + ' år med arbeidserfaring'

            .experience
              %i.fa.fa-briefcase
              = work_experience
